@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

// COLORS
$darkblue: #243F67;
$background: #F3F9FF;
$crossbuttoncream: #FFF7D6;

// TEXT FIELD COLOR
$textfield: #4375C0;
// PHONE NUM COLOR
$phonefield: #FEFC00;
// TOPIC FIELD COLOR
$topicfield: #6cce63;
// EDIT CREAM
$editcream: #DEE36D;

// ACTION BUTTON COLORS
$editbuttongreen: #11B386;
$crossbuttoncream:#FFF7D6;
$deletebuttonblue:#3292FA;

// THE PAGE
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
    body {
        height: 100vh;
        .container {
            display: flex;
            flex-direction: row;
            nav {
                background-color: $darkblue;
                width: 18vw;
                height: 100vh;
                position: fixed;
                transition: all 0.5 ease-in;
                // top: 0;
                // left: 0;
                .header {
                    text-align: center;
                    a {
                        h1 {
                            color: white;
                            font-size: 1.5vw;
                            margin: 4vh 0 2vh 0;
                        }
                        img {
                            width: 8vw;
                            height: 8vw;
                        }
                    }
                }
                .menu {
                    margin: 8vh 0 0 3vw;
                    ul {
                        li {
                            a {
                                font-size: 25px;
                                color: white;
                                text-decoration: none;
                                line-height: 8vh;
                                .icon {
                                    display: flex;
                                    flex-direction: row;
                                    img {
                                        width: 1.7vw;
                                        height: 1.7vw;
                                        margin: 2.3vh 0 0 0;
                                    }
                                    .item {
                                        margin: .3vh 0 0 1vw;
                                        font-size: 1.3vw;
                                    }
                                    .check {
                                        margin: 0 0 -.5vh .3vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .page {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100vh;
                width: 100%;
                h1 {
                    color: $textfield;
                    font-size: 2.5vw;
                    margin: 3vh 0 0 17vw;
                }
                .outline {
                    border: 2px solid $textfield;
                    border-radius: 10px;
                    height: 80vh;
                    width: 75vw;
                    margin: 3vh 0 0 18vw;
                    padding: 10vh;
                    overflow-y: scroll;
                    .zooms {
                        display: flex;
                        flex-direction: column;
                        #zoom_items {
                            display: flex;
                            margin: 0 0 2vh 0;
                            background-color: $textfield;
                            padding: 1vw;
                            border-radius: 5px;
                            transition: all .3s ease-in;
                            #content {
                                width: 100%;
                                padding: 2vh;
                                input {
                                    background-color: $textfield;
                                    border: none;
                                    text-align: center;
                                }
                                input:focus {
                                    background-color: $textfield;
                                    appearance: none;
                                    border: none;
                                    outline: none;
                                    text-align: center;
                                }
                                #zoomname {
                                    color: white;
                                    font-weight: bold;
                                    font-size: 1vw;
                                    width: 12vw;
                                    // background-color: darkblue;
                                }
                                #zoomdate {
                                    color: white;
                                    font-size: 1vw;
                                    margin-left: -2vw;
                                    width: 10vw;
                                    // background-color: darkmagenta;
                                }
                                #zoomtime {
                                    color: $crossbuttoncream;
                                    font-size: 1vw;
                                    margin-left: -2vw;
                                    width: 10vw;
                                    // background-color: darkgoldenrod;
                                }
                                #zoomnumber {
                                    color: $phonefield;
                                    font-size: 1vw;
                                    margin-left: -2vw;
                                    width: 10vw;
                                    // background-color: darkkhaki;
                                }
                                #zoomtopic {
                                    color: $topicfield;
                                    font-weight: bold;
                                    font-size: 1vw;
                                    width: 10vw;
                                    margin: 0 0 0 -1vw;
                                    // padding-left: 10px;
                                    // background-color: darkorange;
                                }
                                #zoomlink {
                                    color: white;
                                    font-weight: bold;
                                    font-size: 1vw;
                                    cursor: pointer;
                                    // padding-left: 10px;
                                    // width: 350px;
                                    // background-color: darkcyan;
                                }
                            }
                            .buttons {
                                display: flex;
                                gap: .5vw;
                                margin: 0 0 0 -7vw;
                                .delete {
                                    background: none;
                                    border: none;
                                    img {
                                        width: 2vw;
                                        height: 2vw;
                                    }
                                }
                                .edit {
                                    background: none;
                                    border: none;
                                    img {
                                        width: 2vw;
                                        height: 2vw;
                                    }
                                }
                            }
                        }
                    }
                }
                // zooms scrollbar
                .outline::-webkit-scrollbar {
                    margin: 0 20vw 0 0;
                    border: 0px solid $textfield;
                    border-radius: 10px;
                }
                .outline::-webkit-scrollbar-thumb {
                    background: $textfield;
                    margin: 0 20vw 0 0;
                    border: 0px $textfield solid;
                    border-radius: 10px;
                }
            }
        }
    }
}