@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style: none;
}
* body {
  height: 100vh;
}
* body .container {
  display: flex;
  flex-direction: row;
}
* body .container nav {
  background-color: #243F67;
  width: 18vw;
  height: 100vh;
  position: fixed;
  transition: all 0.5 ease-in;
}
* body .container nav .header {
  text-align: center;
}
* body .container nav .header a h1 {
  color: white;
  font-size: 1.5vw;
  margin: 4vh 0 2vh 0;
}
* body .container nav .header a img {
  width: 8vw;
  height: 8vw;
}
* body .container nav .menu {
  margin: 8vh 0 0 3vw;
}
* body .container nav .menu ul li a {
  font-size: 25px;
  color: white;
  text-decoration: none;
  line-height: 8vh;
}
* body .container nav .menu ul li a .icon {
  display: flex;
  flex-direction: row;
}
* body .container nav .menu ul li a .icon img {
  width: 1.7vw;
  height: 1.7vw;
  margin: 2.3vh 0 0 0;
}
* body .container nav .menu ul li a .icon .item {
  margin: 0.3vh 0 0 1vw;
  font-size: 1.3vw;
}
* body .container nav .menu ul li a .icon .check {
  margin: 0 0 -0.5vh 0.3vw;
}
* body .container .page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}
* body .container .page h1 {
  color: #4375C0;
  font-size: 2.5vw;
  margin: 3vh 0 0 17vw;
}
* body .container .page .outline {
  border: 2px solid #4375C0;
  border-radius: 10px;
  height: 80vh;
  width: 75vw;
  margin: 3vh 0 0 18vw;
  padding: 10vh;
  overflow-y: scroll;
}
* body .container .page .outline .zooms {
  display: flex;
  flex-direction: column;
}
* body .container .page .outline .zooms #zoom_items {
  display: flex;
  margin: 0 0 2vh 0;
  background-color: #4375C0;
  padding: 1vw;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}
* body .container .page .outline .zooms #zoom_items #content {
  width: 100%;
  padding: 2vh;
}
* body .container .page .outline .zooms #zoom_items #content input {
  background-color: #4375C0;
  border: none;
  text-align: center;
}
* body .container .page .outline .zooms #zoom_items #content input:focus {
  background-color: #4375C0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  text-align: center;
}
* body .container .page .outline .zooms #zoom_items #content #zoomname {
  color: white;
  font-weight: bold;
  font-size: 1vw;
  width: 12vw;
}
* body .container .page .outline .zooms #zoom_items #content #zoomdate {
  color: white;
  font-size: 1vw;
  margin-left: -2vw;
  width: 10vw;
}
* body .container .page .outline .zooms #zoom_items #content #zoomtime {
  color: #FFF7D6;
  font-size: 1vw;
  margin-left: -2vw;
  width: 10vw;
}
* body .container .page .outline .zooms #zoom_items #content #zoomnumber {
  color: #FEFC00;
  font-size: 1vw;
  margin-left: -2vw;
  width: 10vw;
}
* body .container .page .outline .zooms #zoom_items #content #zoomtopic {
  color: #6cce63;
  font-weight: bold;
  font-size: 1vw;
  width: 10vw;
  margin: 0 0 0 -1vw;
}
* body .container .page .outline .zooms #zoom_items #content #zoomlink {
  color: white;
  font-weight: bold;
  font-size: 1vw;
  cursor: pointer;
}
* body .container .page .outline .zooms #zoom_items .buttons {
  display: flex;
  gap: 0.5vw;
  margin: 0 0 0 -7vw;
}
* body .container .page .outline .zooms #zoom_items .buttons .delete {
  background: none;
  border: none;
}
* body .container .page .outline .zooms #zoom_items .buttons .delete img {
  width: 2vw;
  height: 2vw;
}
* body .container .page .outline .zooms #zoom_items .buttons .edit {
  background: none;
  border: none;
}
* body .container .page .outline .zooms #zoom_items .buttons .edit img {
  width: 2vw;
  height: 2vw;
}
* body .container .page .outline::-webkit-scrollbar {
  margin: 0 20vw 0 0;
  border: 0px solid #4375C0;
  border-radius: 10px;
}
* body .container .page .outline::-webkit-scrollbar-thumb {
  background: #4375C0;
  margin: 0 20vw 0 0;
  border: 0px #4375C0 solid;
  border-radius: 10px;
}/*# sourceMappingURL=zoomcalls.css.map */